body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #fd5949, #d6249f, #285AEB);
}

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}

.auth-card h2 {
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.toggle-text {
  margin-top: 15px;
  color: #0095f6;
  cursor: pointer;
}